h2 {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #920605;
  padding-top: 70px;
  position: relative; }

.textos-contacto, .talles-textos, .textos-informacion {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000; }

* {
  margin: 0;
  padding: 0; }

.body {
  overflow-x: hidden; }

.header {
  height: 145px; }
  .header-barra-color {
    background-color: #920605;
    height: 20px;
    position: fixed;
    top: 0;
    z-index: 998; }
  .header-logo {
    width: 10vw;
    margin-top: 10px; }

.navbar {
  box-shadow: 0px 10px 21px -13px #000000;
  background-color: white;
  position: fixed;
  top: 20px;
  opacity: 0.9;
  z-index: 999; }
  .navbar-toggler {
    border: none;
    text-align: left; }

.nav-link {
  list-style: none;
  font-size: 14px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 10px;
  margin-top: 20px;
  letter-spacing: 5px; }
  .nav-link:hover {
    font-weight: 700;
    transform: scale(0.9); }

.nav-item a {
  text-align: center; }

.footer {
  background-color: #920605;
  margin-top: 40px; }
  .footer-logos {
    width: 3vw;
    margin-bottom: 10px; }
  .footer-text1 {
    font-family: "Kumbh Sans", sans-serif;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase; }
  .footer-text2 {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 12px;
    text-transform: uppercase; }
  .footer-nav li {
    list-style: none;
    font-size: 13px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #920605;
    margin-top: 30px;
    line-height: 10px;
    letter-spacing: 2px; }
    .footer-nav li a {
      color: white;
      text-decoration: none; }
      .footer-nav li a:hover {
        font-weight: 700;
        transform: scale(0.9); }
  .footer ul {
    padding-left: 0;
    margin-left: 0; }
  .footer-redes {
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
    letter-spacing: 2px; }
  .footer-logosRedes {
    width: 3vw; }
  .footer-datos {
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color: white; }
  .footer-logosContacto {
    width: 8%; }

h2 {
  animation-name: secciones;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: normal; }

@keyframes secciones {
  0% {
    color: #f0e3a5;
    top: -30px; }
  50% {
    color: #f5a051; }
  100% {
    color: #920605;
    top: 0px; } }

.main {
  min-width: 100vw; }

.body-barras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: -80px;
  margin-left: 0;
  margin-right: 0;
  z-index: 997; }

.body-barra1 {
  background-color: #f0e3a5;
  height: 150px;
  mix-blend-mode: multiply;
  opacity: 1; }

.body-barra2 {
  background-color: #f5a051;
  height: 150px;
  mix-blend-mode: multiply;
  opacity: 1; }

.body-barra3 {
  background-color: #920605;
  height: 150px;
  mix-blend-mode: multiply;
  opacity: 1; }

.body-titulo-apertura1 {
  font-size: 80px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  color: #920605;
  animation-name: apertura-linea1;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes apertura-linea1 {
  0% {
    color: #f0e3a5; }
  50% {
    color: #f5a051; }
  100% {
    color: #920605; } }

.body-titulo-apertura2 {
  font-size: 80px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
  color: #920605;
  animation-name: apertura-linea2;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite; }

@keyframes apertura-linea2 {
  0% {
    color: #f0e3a5; }
  50% {
    color: #f5a051; }
  100% {
    color: #920605; } }

.body-texto-apertura {
  font-size: 25px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 200;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px; }

.body-texto-apertura-bold {
  font-size: 25px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px; }

.cuerpo-barra {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 50px; }

.cuerpo-barra1 {
  background-color: #f0e3a5;
  height: 20px;
  width: 33vw; }

.cuerpo-barra2 {
  background-color: #f5a051;
  height: 20px;
  width: 34vw; }

.cuerpo-barra3 {
  background-color: #920605;
  height: 20px;
  width: 33vw; }

label {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  display: block; }

.boton {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #920605;
  border: none; }

.datos-contactosbloque1 {
  width: auto;
  height: 10%;
  margin-right: 10px; }

.datos-contactosbloque2 {
  width: auto;
  height: 10%;
  margin-right: 10px; }

.datos-contactosbloque3 {
  width: auto;
  height: 10%;
  margin-right: 10px; }

.talles-textos2 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: #000;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 130px; }

.tablaTalles {
  width: 25vw;
  text-align: start; }

.tablaTallesRosa {
  width: 35vw;
  margin-left: -20px; }

.foto-remera {
  width: 90%; }

.modeloremera {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 15px; }

.precio {
  font-size: 20px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  color: #920605;
  text-transform: uppercase; }

.pagos {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  margin-top: 5px; }

.productos-mas {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: #920605;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 50px; }

@media only screen and (max-width: 900px) {
  .header {
    height: 152px; }
    .header-logo {
      width: 20vw; }
  h2 {
    font-size: 40px; }
  .footer {
    height: 750px; }
    .footer-logosRedes {
      width: 5vw; }
    .footer-logosContacto {
      width: 3vw; }
    .footer-logos {
      width: 4vw;
      margin-bottom: 10px; }
  .textos-informacion {
    margin-left: 80px;
    margin-right: 80px; }
  .foto-remera {
    width: 90%; }
  .modeloremera {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 3px;
    font-size: 12px; }
  .precio {
    font-size: 16px; }
  .pagos {
    font-size: 8px;
    margin-top: 5px; }
  .tablaTalles {
    width: 25vw; }
  .talles-textos {
    font-size: 14px;
    margin-bottom: 40px; }
  .talles-textos2 {
    font-size: 14px;
    margin-left: 80px;
    margin-right: 80px; }
  .tablaTallesRosa {
    width: 46vw;
    margin-left: -90px; }
  .titulo-apertura1 {
    font-size: 50px;
    margin-top: 50px; }
  .titulo-apertura2 {
    font-size: 50px;
    margin-top: -10px; }
  .texto-apertura {
    font-size: 18px; }
  .boton {
    font-size: 14px; }
  .formulario {
    width: 90vw;
    margin-left: 0;
    padding-left: 0px; }
  .textos-contacto {
    width: 90vw;
    margin-left: 0;
    padding-left: 0px; } }

@media only screen and (max-width: 500px) {
  .header {
    height: 78px !important; }
    .header-logo {
      width: 30vw;
      margin-top: 0px; }
  .footer {
    min-width: 100vw; }
    .footer-redes {
      font-size: 10px;
      margin-top: 40px; }
    .footer-logos {
      width: 6vw; }
    .footer-logosRedes {
      width: 8vw; }
    .footer-logosContacto {
      width: 6vw; }
  .body-barra1 {
    height: 150px; }
  .body-barra2 {
    height: 150px; }
  .body-barra3 {
    height: 150px; }
  .body-barras {
    margin-top: -80px;
    margin-bottom: 0; }
  h2 {
    font-size: 30px;
    margin-bottom: 0; }
  .textos-informacion {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 30px; }
  .foto-remera {
    width: 70%; }
  .modeloremera {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 3px;
    font-size: 14px; }
  .precio {
    font-size: 18px; }
  .pagos {
    font-size: 10px;
    margin-top: 5px; }
  .productos-mas {
    font-size: 12px;
    margin-top: 20px; }
  .tablaTalles {
    width: 60vw;
    margin: auto;
    text-align: center;
    margin-left: 90px; }
  .talles-textos {
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px; }
  .talles-textos2 {
    font-size: 14px;
    margin-left: 25px;
    margin-right: 30px; }
  .tablaTallesRosa {
    width: 90vw;
    margin: auto;
    margin-top: 20px; }
  .textos-contacto {
    font-size: 14px; }
  .body-titulo-apertura1 {
    font-size: 50px;
    margin-top: 30px; }
  .body-titulo-apertura2 {
    font-size: 50px;
    margin-top: -10px; }
  .body-texto-apertura {
    font-size: 20px; }
  .body-texto-apertura-bold {
    font-size: 20px;
    margin-top: -10px; }
  .boton {
    font-size: 12px; } }
