
.textos-contacto{
    @extend %textos-paginas;
}
label{
    font-family: $font;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    display: block;
}
.boton{
    font-family: $font;
    font-size: 18px;
    text-transform: uppercase;
    background-color: $color1;
    border: none; 
}

.datos-contactosbloque1{
    width: auto;
    height: 10%;
    margin-right: 10px;
}
.datos-contactosbloque2{
    width: auto;
    height: 10%;
    margin-right: 10px;
}
.datos-contactosbloque3{
    width: auto;
    height: 10%;
    margin-right: 10px;
}